# ========================
# 压缩包
# ========================
*.zip
*.rar
*.7z
*.tar
*.gz

# ========================
# 本地临时文件
# ========================
*.log
*.tmp
*.temp
*.cache

# ========================
# 系统垃圾
# ========================
.DS_Store
Thumbs.db
desktop.ini

# ========================
# 编辑器缓存
# ========================
.vscode/
.idea/

# ========================
# 本地测试目录
# ========================
test/
debug/
temp/
tmp/
cache/

# ========================
# 打包 / 发布目录
# ========================
dist/
build/
release/
package/
backup/

# ========================
# 备份文件
# ========================
*.bak
*.old
*~